

body {
  /* background-size: 100% 100%; */
  background-repeat: repeat;
  background-image: url("../images/crystal_cave_bg.jpg");
  /* background-image: linear-gradient(red, yellow); */
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.game {
  margin: 50px auto 50px auto;
  max-width: 900px;
  background: rgba(245, 247, 245, 0.6);
  padding:20px;
  box-shadow: 0px 1px 2px #666666;
  border-radius: 4px;
}

.game-title {
  font-size: 60px;
  color: #51719a;
  text-align: center;
  /* font-family: 'Poor Story', cursive; */
  font-family: 'Pacifico', cursive;
  /* font-family: 'Alfa Slab One', cursive; */
  /* font-family: 'Titan One', cursive; */
}

.instructions-container {
  line-height: 25px;

}

.instructions-title {
  font-size: 24px;
}

.number-guess-title {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  margin: 20px auto 0 auto;
}

.number-guess {
  text-align: center;
  margin: 20px auto 0 auto;
  font-size: 50px;
  font-weight: bold;
  padding: 15px;
  color: darkred;
}

.stat-bar {
  margin:20px;  
  padding:10px;
  background-color: darkcyan;
  display: flex;
  justify-content: space-around;
  border-radius: 10px;
  color: #ffffff;
  font-size: 40px;
}


.crystal-image {
  width: 150px;
  height: 150px;
  margin: 15px;
}

#crystals {
  margin: 0 auto;
  max-width: 720px;
}